@charset "UTF-8";
:root{
    --cor01:#018e48;
    --cor2:#f0821f;
}
*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    align-items: center; 
    border-bottom: 3px solid #ccc;   
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo img{
    display: inline-block;
    width: 100px;
    flex-grow: 1;
    margin-left: 50%;
    padding: 15px;
}
.menu-topo ul{
    display: flex;
    justify-content: space-around;
}
.menu-topo ul li{
    margin-right: 35px;  
    list-style: none;
}
.menu-topo a{
    padding: 30px;    
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
    font-family: 'roboto';
    transition: .3s;
}
.menu-topo a:hover{
    text-decoration: underline;
    color: var(--cor01);
}
.banner{
    background-color: #ccc;
    background-image: url(img/banner-pq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height:600px ;
    font-family: Arial, Helvetica, sans-serif;
}
.banner h2{
    color: white;
    font-family: 'roboto';
    position: absolute;
    bottom: 250px;
    margin-left: 10%;
    font-size: 2em;
}
.button{
    padding: 8px 30px;
    border-radius: 120px;
    text-decoration: none;
    color: white;    
    margin-left: 15%;
    transition: .2s;
}
.button-verde{
    background-color: var(--cor01); 
}
.banner-b{
    position: absolute;
    bottom: 180px;
}
.button-laranja{
    background-color: var(--cor2); 
    margin: 40px 5%;   
    font-size: 1.2em;
}
.button-laranja:hover{
    background-color: #f0801fb0;
    color: rgba(255, 255, 255, 0.534);
}
.banner-b:hover{
    background-color: #018e4894;
    color: rgba(255, 255, 255, 0.541);
}
.produtos{
    background-color: #ccc;    
    
}
.produtos h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.808);
    font-size: 1.3em;
    margin-left: 10%;
    padding-top: 20px;
    margin-bottom: 40px;
    line-height: 2em;
}
.produtos strong{
    text-transform: uppercase;
    font-size: 1.6em;

}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.oferta{
    margin-top: 20px;
    display: flex;
    margin-left: 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.oferta a{    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(100, 99, 99);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: .6s;
}
.oferta a:hover{
    text-decoration: underline;
    background-color: var(--cor01);
    color: white;
}
#big{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(58, 57, 57);
}
.oferta p{
    width: 500px;
    text-align: justify;
    margin-top: 20px;
    font-size: 1.2em;   
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(100, 99, 99);
    margin-bottom: 10px;
}
.oferta img{
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;    
}

.consignado{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--cor2);
    align-items: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-bottom: 30px;
    
}
.consignado img{
    width: 500px;
}
.consignado p{
    width: 500px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: white;    
}
.fgts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--cor01);
    align-items: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-bottom: 30px;
}

.fgts img{
    width: 500px;    
}
.fgts p{
    width: 500px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: white;    
}
footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F4F5F6 ;
}
footer img{
    width: 200px;    
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: justify;
    margin-top: 20px;
    color: rgb(61, 61, 61);
}

