@charset "UTF-8";
:root{
    --cor01:#018e48;
    --cor2:#f0821f;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

main{
    width: 100%;
}
.menu-toggle .l1 , .l2, .l3{
    background-color: black;
    width: 50px;
    height: 5px;
    margin-top: 4px;
    margin-right: 40px;
    display: none;
}

header{    
    width: 100%;
    display: flex;
    align-items: center; 
    border-bottom: 3px solid #ccc;   
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo img{
    display: inline-block;
    width: 100px;
    flex-grow: 1;
    margin-left: 50%;
    padding: 15px;
}
.menu-topo ul{
    display: flex;
    justify-content: space-around;
}
.menu-topo ul li{
    margin-right: 35px;  
    list-style: none;
}
.menu-topo a{
    padding: 30px;    
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'roboto';
    transition: .3s;
}
.menu-topo a:hover{
    text-decoration: underline;
    color: var(--cor01);
}
.banner{
    position: relative;
    background-color: #ccc;
    background-image: url(img/banner-pq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height:600px ;
    font-family: Arial, Helvetica, sans-serif;
}
.banner h2{
    color: white;
    font-family: 'roboto';
    position: absolute;
    bottom: 250px;
    margin-left: 10%;
    font-size: 3.5rem;
}
.button{
    padding: 8px 30px;
    border-radius: 120px;
    text-decoration: none;
    color: white;    
    margin-left: 15%;
    transition: .2s;
    font-size: 1.6rem;
}
.button-verde{
    background-color: var(--cor01); 
}
.banner-b{
    position: absolute;
    bottom: 180px;
}
.button-laranja{
    background-color: var(--cor2); 
    margin: 40px 5%;   
    font-size: 1.6rem;
}
.button-laranja:hover{
    background-color: #f0801fb0;
    color: rgba(255, 255, 255, 0.534);
}
.banner-b:hover{
    background-color: #018e4894;
    color: rgba(255, 255, 255, 0.541);
}
.produtos{
    background-color: #ccc;    
    
}
.produtos h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.808);
    font-size: 2rem;
    margin-left: 10%;
    padding-top: 20px;
    margin-bottom: 40px;
    line-height: 2em;
}
.produtos strong{
    text-transform: uppercase;
    font-size: 1.6em;

}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.oferta{      
   width: 100%;   
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding:1% 0% 1% 0%
}
.oferta h4{    
    font-size: 5rem;
    width: 500px;
    color:rgb(43, 43, 43);
    margin-bottom: 20px;
}

.oferta p{
    width: 500px;
    color: rgb(85, 85, 85);    
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}
.oferta .ico{
    width: 40vw;   
    
}
.oferta img{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;    
}
.cards .consignado .ico{
    width: 40vw;
}
.consignado{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--cor2);
    align-items: center;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
    
}
.consignado img{
    width: 100%;
}
.consignado p{
    width: 500px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: white;    
}
.cards .fgts .ico{
    width: 40vw;
}
.fgts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--cor01);
    align-items: center;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.fgts img{
    width: 100%;    
}
.fgts p{
    width: 500px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: white;    
}
footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F4F5F6 ;
}
footer img{
    width: 200px;    
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: justify;
    margin-top: 20px;
    color: rgb(61, 61, 61);
}
@media (max-width:860px){
    .menu-topo{
        display: none;
    }
}
@media (max-width:680px) {
        
    .oferta{
        flex-direction: column;
    }
    .interna{
        display: flex;
        flex-direction: column; 
        align-items: center;       
    }
    .interna h4{
        width: 50%;
        display: block;
        font-size: 2rem;
    }
    .interna p{
        width: 50%;
        font-size: 1rem;
    }
    .cards{
        font-size: 1rem;        
    }
    .consignado{
        padding: 10px 10px;
    }
    .consignado img{
        margin-bottom: 10px;
    }

    .fgts{
        padding: 10px 10px;
    }
    .fgts img{
        margin-top: 10px;
    }
}

